body {
    background-image: url('/assets/bg3.webp');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    min-height: 100vh; /* Ensure at least full viewport height */
}


